<p>Hey {{name}},</p>
<p>You created an account in my book store @e-commerce </p>
<a href='{{url}}'>Book store</a>
{{! <p>Please click below to confirm your email</p> }}
{{! <p> }}
{{!--   <a href='{{url}}'>Confirm</a> --}}
{{! </p> }}
{{!}}
{{! <p>If you did not request this email you can safely ignore it.</p> }}
