@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body {
  min-height: 100vh;
  max-width: 3840px;
  width: 100%;
  overflow-x: hidden;
}

.btn {
  @apply rounded-full;
}

.wrapper {
  @apply rounded-base bg-neutral p-base rounded-base;
}
