@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css'
  layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  max-width: 3840px;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
}

/* .wrapper { */
/*   @apply rounded-base bg-neutral p-base rounded-base; */
/* } */

.p-button {
  padding: 0.25rem 0.75rem;
}

.p-button-label {
  font-weight: normal;
}

.p-dialog {
  border-radius: 1rem;
}
