<p-sidebar
  [(visible)]="visible"
  [closeOnEscape]="true"
  (onHide)="onClose.emit()"
  position="right"
  appendTo="body"
  [blockScroll]="true"
>
  <ng-template pTemplate="header">
    <span class="font-semibold text-xl">Cart</span>
  </ng-template>

  <div class="flex flex-column justify-content-between h-full gap-3">
    <div
      class="flex flex-column gap-3 overflow-y-auto"
      [ngClass]="{
        'animation-pulse pointer-events-none': loading(),
      }"
    >
      @for (item of cartItems(); track item.book.id) {
        <!-- // <lib-cart-item -->
        <!-- //   [item]="item" -->
        <!-- //   (onUpdateQuantity)="updateQuantity($event)" -->
        <!-- //   (onDelete)="remove($event)" -->
        <!-- // /> -->
      } @empty {
        <div class="text-center flex flex-column gap-3 mt-3">
          <span class="text-4xl">Your cart is empty!</span>
          <span class="text-lg text-gray-400"
            >You should add something to it.</span
          >
        </div>
      }
    </div>

    <div class="flex flex-column gap-3">
      <div class="text-3xl">Total: {{ '$' + total().toFixed(2) }}</div>
      <p-button
        class="w-full"
        label="Checkout"
        icon="pi pi-shopping-bag"
        (onClick)="checkout()"
        [loading]="loading()"
      />
    </div>
  </div>
</p-sidebar>
