.animation-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.text-color {
  color: var(--text-color);
}

.translate-y-50 {
  transform: translateY(50%);
}

.-translate-y-50 {
  transform: translateY(-50%);
}

.nav-height {
  height: var(--header-height);
}

.min-height-screen {
  min-height: calc(100vh - var(--header-height));
}

.image-fit-cover {
  object-fit: cover;
}

.image-position-center {
  object-position: center;
}

// TODO: ręcznie zmieniać liczbę kolumn
.grid-auto-fit {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-content: start;
}

.my-12rem {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.mt-10rem {
  margin-top: 10rem;
}

.max-w-103rem {
  max-width: 103rem;
}

.max-w-60rem {
  max-width: 60rem;
}

.grid-all-columns {
  grid-column: 1 / -1;
}

.min-content-height {
  min-height: calc(100svh - var(--header-height) - 10rem);
}
