<div class="shadow-5">
  <nav
    class="flex align-items-center justify-content-between py-4 mx-4 lg:mx-36"
  >
    <div class="flex align-items-center gap-4 xl:gap-8">
      <h1 class="text-xl md:text-2xl lg:text-[2rem]">
        <span class="font-bold text-primary">Story</span
        ><span class="uppercase">Stash</span>
      </h1>
      <div class="hidden items-center gap-4 xl:gap-8 lg:flex">
        <p-divider layout="vertical"></p-divider>
        <ul class="flex items-center gap-4 list-none">
          <li>
            <a
              [routerLink]="'/'"
              routerLinkActive="underline"
              [routerLinkActiveOptions]="{ exact: true }"
              eCommerceButton
              brand="basic"
              class="text-xl text-white capitalize"
              >home</a
            >
          </li>
          <li>
            <a
              [routerLink]="'/products'"
              routerLinkActive="underline"
              [routerLinkActiveOptions]="{ exact: true }"
              eCommerceButton
              brand="basic"
              class="text-xl text-white capitalize"
              >products</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center gap-1 md:gap-4">
      <p-button
        tabindex="-1"
        label="sign up"
        [routerLink]="['/register']"
        styleClass="p-button-link"
      ></p-button>
      <p-button
        class="hidden sm:block"
        tabindex="-1"
        label="login"
        [routerLink]="['/login']"
        styleClass="p-button-link"
      ></p-button>
      <p-button
        icon="pi pi-align-right"
        styleClass="p-button-text"
        class="lg:hidden"
      ></p-button>
    </div>
  </nav>
</div>
