:host ::ng-deep {
  .p-button-icon {
    font-size: 1.5rem;
  }

  .p-button {
    min-width: fit-content !important;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: var(--header-height);
  padding: 0.5rem 1rem;
  z-index: 5;
  background-color: var(--surface-card);
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.02),
    0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;

  &__links {
    display: flex;
    align-items: center;

    &_logo {
      font-size: 1.25rem;
      text-decoration: none;
      color: var(--primary-color);

      &_name:nth-child(1) {
        font-weight: bold;
      }

      &_name:nth-child(2) {
        text-transform: uppercase;
        color: var(--text-color);
      }
    }
  }
}

.links {
  display: none;
}

.link {
  font-size: 1rem;
  color: var(--text-color);
  text-transform: capitalize;
}

.utility-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search {
  display: none;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }

  .links {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
