<div class="w-full flex items-center sticky bottom-0 left-0 right-0 xl:hidden">
  <p-toolbar appNavToolbar>
    <div class="mx-auto w-full flex items-center justify-center">
      <p-button
        appNavButton
        size="large"
        icon="pi pi-bars"
        (onClick)="toggleNavigation()"
      />
      <p-button
        appNavButton
        size="large"
        routerLink="/browse"
        routerLinkActive="active"
        [queryParams]="null"
        [state]="{}"
        icon="pi pi-search"
      />
      <p-button
        appNavButton
        size="large"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [queryParams]="null"
        [state]="{}"
        icon="pi pi-home"
      />
      <p-button
        appNavButton
        size="large"
        routerLink="/account"
        icon="pi pi-user"
      />
      <lib-cart-sidebar />
    </div>
  </p-toolbar>
</div>

<p-sidebar appSidebarLeft [(visible)]="isOpen" [blockScroll]="true">
  <ng-template pTemplate="header">
    <ng-container [ngTemplateOutlet]="logo" />
  </ng-template>
  <div class="flex flex-col">
    <ng-container [ngTemplateOutlet]="links" />
  </div>
</p-sidebar>

<aside
  class="hidden justify-between gap-4 xl:h-content px-2 py-4 bg-content-background xl:sticky z-[1001] top-8 flex-col rounded-base xl:flex"
  [@slideInOut]="isExpanded() ? 'in' : 'out'"
>
  <nav class="h-content flex flex-col justify-between">
    <div class="flex flex-col">
      <div class="h-9 flex items-center justify-center">
        @if (isLabelShowed()) {
          <ng-container [ngTemplateOutlet]="logo" />
        } @else {
          <p-button
            appNavButton
            routerLink="/"
            routerLinkActive=""
            [routerLinkActiveOptions]="{ exact: true }"
            icon="pi pi-home"
          />
        }
      </div>
      <p-divider />
      <ul class="flex flex-col">
        <p-button
          appNavButton
          routerLink="/browse"
          [queryParams]="null"
          routerLinkActive="active"
          [state]="{}"
          icon="pi pi-search"
          [label]="isLabelShowed() ? 'Browse' : ''"
        />
        <ng-container [ngTemplateOutlet]="links" />
      </ul>
    </div>

    <div class="flex flex-col">
      <lib-cart-sidebar [isLabelShowed]="isLabelShowed()" />
      @if (isAuthenticated()) {
        <p-button
          appNavButton
          routerLink="/account"
          icon="pi pi-user"
          [label]="isLabelShowed() ? 'Account' : ''"
        />
        <p-button
          appNavButton
          (onClick)="logout()"
          icon="pi pi-sign-out"
          [label]="isLabelShowed() ? 'Log out' : ''"
        />
      } @else {
        <p-button
          appNavButton
          routerLink="/login"
          icon="pi pi-sign-in"
          [label]="isLabelShowed() ? 'Log in' : ''"
        />
        <p-button
          appNavButton
          routerLink="/register"
          icon="pi pi-user-plus"
          [label]="isLabelShowed() ? 'Register' : ''"
        />
      }
      <p-divider />
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-4 mx-auto">
          @if (isLabelShowed()) {
            <span>Light</span>
          }
          <p-inputSwitch [(ngModel)]="theme" (onChange)="toggleDarkMode()" />
          @if (isLabelShowed()) {
            <span>Dark</span>
          }
        </div>
        <p-button
          appNavButton
          (onClick)="expandCollapseNavigation()"
          [icon]="isExpanded() ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"
        />
      </div>
    </div>
  </nav>
</aside>

<ng-template #logo>
  <a
    routerLink="/"
    [queryParams]="null"
    class="text-xl no-underline flex items-center justify-center"
  >
    <span class="font-bold text-primary">Story</span>
    <span class="uppercase text-muted-color">Stash</span>
  </a>
</ng-template>

<ng-template #links>
  @if (isAccountRouteActive()) {
    @for (menuItem of menuItems(); track menuItem.label) {
      <p-button
        appNavButton
        [routerLink]="menuItem.routerLink"
        routerLinkActive="active"
        [queryParams]="null"
        [icon]="menuItem.icon"
        [label]="isLabelShowed() ? menuItem.label : ''"
        (onClick)="isOpen.set(false)"
      />
    }
  } @else {
    @for (category of categories(); track category.id) {
      <p-button
        appNavButton
        routerLink="/browse"
        [queryParams]="{
          categories: category.name.toLowerCase().split(' ').join('_'),
        }"
        [label]="isLabelShowed() ? category.name : category.name[0]"
        [state]="{ category: stringifyCategory(category) }"
        (onClick)="isOpen.set(false)"
      />
    }
  }
</ng-template>
