<nav class="nav">
  <div class="nav__links">
    <a routerLink="/" [queryParams]="null" class="nav__links_logo">
      <span class="nav__links_logo_name">Story</span>
      <span class="nav__links_logo_name">Stash</span>
    </a>
    <p-divider layout="vertical" />
    <ul class="links">
      <ng-content select="app-categories" />
      @for (item of navItems; track item.id) {
        <li>
          <a
            [routerLink]="item.url"
            routerLinkActive="underline"
            [queryParams]="item.queryParams"
            class="link"
          >
            {{ item.name }}
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="utility-wrapper">
    <a
      class="p-button p-button-text search"
      routerLink="/browse"
      [queryParams]="null"
      pTooltip="Search the books"
      tooltipPosition="bottom"
    >
      <i class="pi pi-search" style="font-size: 1.5rem"></i>
    </a>
    <p-button
      type="button"
      [text]="true"
      (click)="menu.toggle($event)"
      class="user"
      pTooltip="View your account"
      tooltipPosition="bottom"
      icon="pi pi-user"
    />
    <p-menu appendTo="body" #menu [model]="menuItems()" [popup]="true">
      <ng-template pTemplate="end">
        <p-divider />
        <div class="menu">
          <span>light</span>
          <p-inputSwitch
            [(ngModel)]="theme"
            (onChange)="onChangeTheme($event)"
          />
          <span>dark</span>
        </div>
      </ng-template>
    </p-menu>

    <ng-content select="lib-cart-sidebar" />
  </div>
</nav>
