.translate-y-50 {
  transform: translateY(50%);
}

.nav-height {
  height: var(--header-height);
}

.min-height-screen {
  min-height: calc(100vh - var(--header-height));
}

.image-fit-cover {
  object-fit: cover;
}

.image-position-center {
  object-position: center;
}
