@import './assets/prime/primeng-extends';
@import 'primeicons/primeicons.css';
@import './assets/prime/primeflex-extra.scss';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.css';

:root {
  --header-height: 4.8125rem;
  --max-card-width: 24rem;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

input {
  border-radius: var(--border-radius);
}

p {
  margin: 0;
  padding: 0;
}

.height-content {
  height: calc(100svh - var(--header-height) - 3rem);
}

textarea,
input {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
