@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import 'primeicons/primeicons.css';

:root {
  --max-card-width: 20rem;
  --gap: 2rem;
  --border-radius: 1rem;
  --max-content-height: calc(100svh - 2 * var(--gap));
  interpolate-size: allow-keywords;
}

html {
  font-size: 100%;
  scrollbar-width: thin;
  /* scrollbar-color: var(--text-color-secondary) var(--surface-hover); */
}

.scrollbar-thin {
  scrollbar-width: thin;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--font-family);
  min-height: 100svh;
  max-width: 3840px;
  width: 100%;
  background-color: var(--p-surface-100);
  overflow-x: hidden;
}

.dark body {
  background-color: var(--p-surface-950);
}

.scroller {
  scrollbar-width: thin;
}

.p-breadcrumb {
  border-radius: 1rem;
}

.loading {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  pointer-events: none;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
